body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 90%;
    margin: auto;
    background-color: whitesmoke;
    padding: 20px;
    margin-top: 30px;
    border-radius: 1rem;
    border: black solid;
    position: relative;
}

h2 {
    text-align: center;
    color: rgba(0, 0, 0, 0.518);
}

.logo img {
    position: absolute;
    height: auto;
    width: 6rem;
    right: 2rem;
}

.client-info,
.invoice-details,
.totals {
    margin-top: 20px;
}

.client-info,
.invoice-details {
    flex: 1;
}

.address {
    position: absolute;
    left: 2rem;
    font-size: 13px;
    color: black;
    text-align: left;
}

.top-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    margin-top: 6rem;
}

.client-info input,
.invoice-details input {
    width: 100%;
    max-width: 350px;
    height: 2rem;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 5px;
    margin: 0.2rem;
    background-color: white;
    color: black;
}

table input {
    width: 90%;
    padding: 5px;
    color: black;
    background-color: transparent;
}

table {
    width: 100%;
    margin-top: 6rem;
    border-collapse: collapse;
    table-layout: fixed;
}

th,
td {
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

input {
    width: 300px;
    box-sizing: border-box;
}

.pdf-text{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.totals {
    margin-top: 20px;
    text-align: right;
    color: black;
}

button {
    padding: 8px 9px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin-top: 6px;
    width: 101px;
    border-radius: 15px;
    transition: all 0.4s;
}

button:hover {
    background-color: black;
    transform: scale(1.05);
}

.base-buttons {
    display: flex;
    position: absolute;
    gap: 7px;
    left: 43%;
    bottom: 40%;
}

.line {
    height: 2px;
    width: 90%;
    background-color: rgb(0, 0, 113);
    margin: 0 auto;
    margin-top: 1rem;
}

.amount {
    color: black;
}

.bank-details {
    width: 300px;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 13px;
    margin-left: 1rem;
}

.bank-details h3 {
    margin-bottom: 1px;
    text-align: left;
}

.row {
    display: flex;
}

.label {
    width: 90px;
    color: #555;
}

.value {
    font-weight: 600;
}

.terms{
    text-align: left;
    color: black;
    font-size: 10px;
    position: relative;
}

.sign{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 15px;
}

.pdf-hide {
  display: none;
}